{% extends '@ApplicationApp/layout.html.twig' %}

{% block body %}
    <div class="top-panel-absolute">
        <div class="top-panel-inner">
            <a class="top-panel-back-url" href="http://pcvector.net/scripts/scrollup/456-scrollify-uskoritel-prokrutki-kolesika-myshi.html">
                <div class="top-panel-logo" title="Назад к статье"></div>
            </a>
        </div>
    </div>

    <section class="panel one" data-section-name="one">
        <div class="inner">
            <h1>Первый блок</h1>
        </div>
    </section>

    <section class="panel two" data-section-name="two">
        <div class="inner">
            <h1>Второй блок</h1>
        </div>
    </section>

    <section class="panel three" data-section-name="three">
        <div class="inner">
            <h1>Третий блок</h1>
        </div>
    </section>

    <section class="panel four" data-section-name="four">
        <div class="inner">
            <h1>Четвёртый блок</h1>
        </div>
    </section>

    <section class="panel five" data-section-name="five">
        <div class="inner">
            <h1>Пятый блок</h1>
        </div>
    </section>
{% endblock %}